.main {
  flex: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body {
  font-style: normal;
  background-color:#e0e0e0;
}
.h1 {
  color:black;
  font-size: '1.5rem';
  text-align: center;
}
.p {
  color: black;
  text-align: center;
}

/*@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}*/

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
.title{
  margin: 5%;
}
@media only screen and (min-width: 600px) {
  .title{
    margin: 10px 2px 30px 2px;
  }
}

