.main {
  flex: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body {
  font-style: normal;
  background-color: #e0e0e0;
  font-family: 'Antonio', sans-serif;
}
.h1 {
  color: #322CFF;
  font-size: 2rem;
  text-align: center;
}
.h2 {
  color: black;
  text-align: center;
  margin-bottom: 10px;
  font-size: 97%;
}
.p {
  color: black;
  text-align: center;
}
.privacybody{
  margin-left: 20px;
  margin-right: 20px;
}
.aboutimage{

}
@media (prefers-color-scheme: dark) {
  .footer {
    margin-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
.title {
  margin: 5%;
}
@media only screen and (min-width: 800px) {
  .privacybody {
    margin-left: 180px;
    margin-top: 20px;
    margin-right: 180px;
    text-align: justify;
  }
  .title {
    margin: 10px 2px 30px 2px;
  }
  .a{
    text-decoration: none;
  }
}